.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.neon-hover {
  transition: all 0.3s ease;
}
.neon-hover:hover {
  box-shadow: 0 0 10px rgba(192, 132, 252, 0.5),
    0 0 20px rgba(192, 132, 252, 0.3), 0 0 30px rgba(192, 132, 252, 0.2);
}

@media (min-width: 1024px) {
  .result-scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .result-scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
